/* Mobile Devices */
@import url('https://fonts.googleapis.com/css?family=Bitter');

@media screen and (min-width: 450px) {
body {
    font-family: 'Bitter', serif;
    margin: 0;
    background: #9370DB;
    height: auto;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img {
    
    max-width: 100%;
    height: auto;
    
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba (0,0,0,0.4),
    -30px 0px 40px rgba (0,0,0,0.4);
	text-align: center;
}

#landing {
    background: #E6E6FA;
}

#landing-text {
   display: flex;
    flex: 0 1 40vw;
  height: 50vh; 
   justify-content: center;
   align-items: center;
   text-align: center;
   padding-right: 1rem;
   padding-left: 1rem;
}

#landing-text h1 {
    color: #9370DB; 
}

#landing-image {
    background: url ("PortProjFiles/images/Folder.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh; 
    flex: 0 1 60vw;
    margin: 0;
}

#qr-image {
	resize:both;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #9370DB solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333333;
    transition: background 500ms ease;
}
.btn {
    background: #9370DB;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333333;
    color: #E6E6FA;
}

#header h2 {
    border-left: dotted 1px #E6E6FA;
    border-right: dotted 1px #E6E6FA;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

#progress {
    background-color: #333333;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333333;
}
}

/* Screen Sizes 500px and Up  @media (min-width: 500px) {
@media screen and (max-width: 600px) {
	background-color: green;
    #landing { 
        display: flex;
        height: 100%;
    }
    #landing-text {
        height: 100vh;
    }
    #landing-image {
        height: 100vh;
    }
}*/

/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
	background-color: red;
    .btn {
        padding: 1rem 3rem;
    }
}